 body {
            /* Fundo degradê do azul claro para azul escuro */
            background: linear-gradient(to bottom right, #4574b9, #13cc31);
            line-height: 1.5;
            text-align: justify;
            font-family: sans-serif;
            margin: 2em;
            border: solid 1px;
            padding: 2em;
            font-family: Arial, sans-serif;
            min-height: 100vh; /* garante que o degradê ocupe a tela toda */
        }
        h2{
            text-align: center;
            color: black;
        }
        
        h1{
            text-center
        }